* {
  box-sizing: border-box;
}
.info{
  padding-top: 10px;
}

html,
body {
  /* background-image:url("/background.jpeg"); */
  background-color: #ffffff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
img{
  max-width:60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height:30%;
  /* align-content: center; */
  max-width:auto;
  height:auto;
  padding: 0.3em 0.3em 0.3em 0.3em;
}

body {
  color: #0d122b;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
}

.top{
  text-align:justify;
  line-height:5em;
}
.top:after{
    content: '';
    display: inline-block;
    width: 100%;
  }
}
header {
  border-bottom: 1px solid #0d122b;
  margin-bottom: 1em;
  height: 30%;

}
main {
  flex-grow: 2;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 2em;
  padding-top: 4em;
  text-align: center;
}
/* @keyframes bg-pulse {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: #90e5fa;
  }

  100% {
    backgrouond-color: #fff;
  }
}
main.speaking {
  animation: bg-pulse 1s alternate ease-in-out infinite;
} */
/* #result {
  color: #666;
  font-style: italic;
  text-align: center;
}
#result .final {
  color: #0d122b;
  font-style: normal;
} */

#reply{
  text-align:center;
}
.sub_button{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  outline: none;
  border: none;
  width: 3rem;
  /* text-align: center; */
  font-size: 2rem;
  cursor: pointer;
  color: #333;
}

.input-bar {
  padding-top: 15px;
  display: table;
  width: 100%;
}

.input-bar-item {
  display: table-cell;
}

.input-bar-item > button {
  padding-left:15px;
  margin-left: 5px;
}

.btn-circle {
  width: 80px;
  height: 80px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  /* font-size: 12px; */
  line-height: 1.42857;
}

.btn-circle.btn-xl {
  width: 80px;
  height: 80px;
  padding: 5px 5px;
  border-radius: 50px;
  font-size: 24px;
  line-height: 1.33;
}

/* #button {
  position:relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  font-size: 25px;
  padding: 0.3em;
  cursor: pointer;
  margin-bottom: 1em;
  font-weight: bold;
  color: #FFF;
  background-image: -webkit-linear-gradient(45deg, #709dff 0%, #b0c9ff 100%);
  background-image: linear-gradient(45deg, #709dff 0%, #b0c9ff 100%);
  transition: .4s;
  display: inline-block;
  /* padding: 0.5em 1em; } */
#search-form {
  min-width: 50px;
  /* width: 50%; */
  margin: 0 auto;
  position: relative;
}
/* #search-form input {
   width: 100%; 
  font-size: 1.5rem;
  padding: 3px 3px;
  border: 2px solid #ccc;
  border-radius: 10px; */
button:hover,
button:focus {
  background-image: -webkit-linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
  background-image: linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
}

a {
  color: #0d122b;
}
.error {
  color: #f22f46;
  text-align: center;
}
footer {
  border-top: 1px solid #0d122b;
  text-align: center;
}


