* {
  box-sizing: border-box;
}
.info{
  padding-top: 10px;
  padding-left: 30px;
  font-size:15px;
  text-align:center;
}
h1{
  font-family: 'Lora', serif !important;
  font-size:9vh !important;
  text-align: center !important;
}

ul.no_bul {
  list-style-type: none;
  padding:3px 3px 3px 3px;
}

.history{
  background-color:#ced5d6;
  padding-left:30px;
  text-align:center;
  border-top:    2px solid lightgray;
  /* border-right:  2px solid lightgray;  */
  border-bottom: 2px solid lightgray;
}
.avatar {
  vertical-align: middle;
  width: 100px;
  height:100px;
  border-radius: 50%;
}
.img-fluid {
  max-width: 100%;
  height: auto
}

.in-middle{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left:20px;
  padding-right:15px;
}

html,body {
  /* background-image:url("/background.jpeg"); */
  background-color: lightblue;
  min-height: 92vh;
  font-family: 'Lora', serif !important;
  margin: 2%;
  padding: 0;
}
.querybox{
  padding-top:2em;
  padding-left:2em;
}

.assistant_image{
  margin-top:50px;
  width:50%;
  max-width:50%;
  height:100%;
}
.top{
  padding-top:2vh;
  padding-bottom:1vh;
}
.speech-bubble {
	position: relative;
	background: #ced5d6;
  border-radius: .4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 24px solid transparent;
	border-right-color: #ced5d6;
	border-left: 0;
	margin-top: -24px;
  margin-left: -24px;
  display: flex;
  justify-content: center;
  align-items: center;
}


body {
  color: #0d122b;
  display: flex;
  flex-direction: column;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

header {
  border-bottom: 1px solid #0d122b;
  margin-bottom: 1em;
  height: 30%;
}
.main {
  flex-grow: 2;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  margin-bottom: 2em;
  padding-top: 4em;
  text-align: center;
}

.sub_button{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  outline: none;
  border: none;
  width: 3rem;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
}

.input-bar {
  padding-top: 10px;
  padding-left:15px;
  display: table;
  width: 100%;
}

.input-bar-item {
  display: table-cell;
}

h3{
  text-align:center;
}


.input-bar-item > button {
  padding-left:15px;
  margin-left: 5px;
}

/* .btn-suggestions{
  padding-left:10px;
  padding-right:10px;
} */

.btn-circle {
  /* width: 60px;
  height: 60px; */
  border-radius: 15px;
  text-align: center;
  /* font-size: 12px; */
  line-height: 1.42857;
}

.btn-circle.btn-xl {
  width: 80px;
  height: 80px;
  padding: 5px 5px;
  border-radius: 50px;
  font-size: 24px;
  line-height: 1.33;
}

#search-form {
  min-width: 50px;
  margin: 0 auto;
  position: relative;
}

.sbutton:hover,
.sbutton:focus {
  background-image: -webkit-linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
  background-image: linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
}


.error {
  color: #f22f46;
  text-align: center;
}

footer {
  border-top: 1px solid #0d122b;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height:25px;
}


